* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DynaPuff', sans-serif;
}

:root {
  --index: calc(1vw+1vh);
  --text: #e7e7e0;
  --transform: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.header-main {
  position: relative;
}

.header-main::after {
  position: absolute;
  content: "";
  z-index: 100;
  width: 100%;
  height: 100px;
  background-image: url('./assets/images/ground.png');
  /* background-color: #ffffff; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -50px;
}

.caption {
  transform: translate3d(0, calc(var(--scrollTop)/5.7), 0);
}

/*  */

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer-head {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop)/2), 0);
  transition: var(--transition);
  will-change: transform;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 20px #9d822b;
}

.heading {
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 20px #9d822b;
}

.box-shadow-hover {
  filter: drop-shadow(0 0 2px #9d822b);
}

.img-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.layer-base {
  transform: translate3d(0, calc(var(--scrollTop))/1.6, 0);
  z-index: 0;
}

.layer-front {
  transform: translate3d(0, calc(var(--scrollTop))/2.5, 0);
}

.layer-mid {
  transform: translate3d(0, calc(var(--scrollTop))/5.6, 0);
}


.article-main {
  --mainarticle-transform: translate3d(0, calc(var(-scrollTop)/-7.6));
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  top: -2px;
  z-index: 10;
}


.member-card {
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/ground.png');
  /* background-color: #ffffff; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}